/* Init */

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #2e3440;
	overflow: hidden;
}
@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-Regular.ttf");
	font-style: normal;
}
@font-face {
	font-family: "Rubik Bold";
	src: url("../fonts/Rubik-Bold.ttf");
	font-style: normal;
}
@font-face {
	font-family: "Rubik Light";
	src: url("../fonts/Rubik-Light.ttf");
	font-style: normal;
}
@font-face {
	font-family: "Fura Mono";
	src: url("../fonts/Fura\ Mono\ Regular\ Nerd\ Font\ Complete.otf");
	font-style: normal;
}
#navbar a, #navbar a:link, #navbar a:visited {
	color: #d8dee9;
	;
	text-decoration: none;
	cursor: pointer;
	/* pointer | default */
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	cursor: default;
	/* height: 32px; */
	height: 2rem;
	/* line-height: 32px; */
	line-height: 2rem;
	padding: 4px;
	box-shadow: -4px 6px 10px -9px #000000;
	display: inline-flex;
	justify-content: space-between;
	color: #d8dee9;
	font-family: "Rubik";
}
#navbar ul {
	display: inline-table;
	position: relative;
	list-style: none;
}
#navbar label {
	padding: 0 10px;
}
#navbar ul li {
	float: left;
}
#navbar ul li:hover {
	background: #3b4252;
	color: #81A1C1;
}
#navbar ul li:hover>ul {
	display: block;
}
#navbar ul li a {
	display: block;
	white-space: nowrap;
	padding: 0 10px;
}
#navbar ul li ul li a:hover {
	color: #3b4252;
}
#navbar ul li a:hover {
	color: #81A1C1;
}
#navbar ul ul {
	position: absolute;
	top: 100%;
	display: none;
	background: #3b4252;
}
#navbar ul ul li {
	width: 100%;
}
#navbar ul ul li:hover {
	background: #81A1C1;
}
.g-icon {
	cursor: pointer;
	margin: 0 10px 0 10px;
	fill: #d8dee9 !important;
	width: 2rem;
}
.g-icon:hover {
	fill: #81A1C1 !important;
	;
	background: #3b4252;
	border-radius: 4px;
}


.navbox {
  position: absolute;
  width: 100%;
  top: 3rem;
}


.navbox-tiles {
  width: 100%;
  padding: 8% 14% 8% 14%;
  background-color: #434c5e;
  position: absolute;
  right: 16px;
  box-shadow: -4px 6px 10px -9px #000000;
  
}

.icon svg {
  width: 2rem;
  height: 2rem;
}

.navbox-tiles .flex-grid {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 10%;
}

.navbox-tiles .tile {
  display: flex;
  flex-flow: column-reverse;
  background-color: #81A1C1;
  width: 100%;
  text-align: center;
}

.navbox-tiles:after {
  content: '';
  display: table;
  clear: both;
}

.navbox-tiles .tile:hover .icon svg {
  fill: #81A1C1;
}
.navbox-tiles .tile:hover {
  background-color: #3b4252; 
}

.navbox-tiles .tile:hover .title{
  color: #81A1C1; 
}

.navbox-tiles .title {
  color: #3b4252
}

.main-container {
	width: 100%;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.pre-SM {
	width: 160px;
	padding: 32px 10px 4px 10px;
	overflow: hidden;
	margin: auto;
	display: flex;
	justify-content: center;
}
h1 {
	text-align: center;
	color: #d8dee9;
	padding-bottom: 1.75rem;
	font-family: "Rubik Bold";
	letter-spacing: 2px;
}
@media only screen and (min-width: 481px) {
	#q {
		width: 20rem;
		/* height: 24px; */
		/* line-height: 24px; */
		height: 1.5rem;
	}
	#menu ul {
		display: inline-block;
	}
}
@media only screen and (max-width: 480px) {
	#q {
		width: 300px;
	}
	#menu ul {
		display: block;
	}
}
/* NEEDS FIXING */

#q {
	font-family: 'Rubik';
	font-size: 0.95rem;
	border: 1px solid #3b4252 !important;
	border-bottom: 1px solid #282b3b;
	color: #D8DEE9;
	background-color: #3b4252;
	border: none;
	box-shadow: -4px 6px 10px -9px #000000;
	padding: 1rem;
	padding-right: 4.5rem;
	transition: color 0.5s, background-color 0.5s, border 0.5s;
	outline: none;
}
#q:focus {
	color: #81A1C1;
	/* background-color: #81A1C1; */
	border-bottom: 1px solid #81A1C1 !important;
}
.search_button {
	position: absolute;
	font-family: 'FuraCode Nerd Font';
	font-size: 1.75rem;
	display: inline-block;
	line-height: 1.5rem;
	margin: 0;
	margin-left: -3.6rem;
	padding: 1rem;
	border: none;
	background: #3b4252;
	border: 1px solid #3b4252;
	color: #D8DEE9;
	transition: color 0.5s, background-color 0.5s, border 0.5s;
}
#q:focus-within+.search_button {
	background: #2e3440;
	border: 1px solid #2e3440;
	color: #b3bac9;
}
#q:hover+.search_button {
	background: #2e3440;
	border: 1px solid #2e3440;
	color: #b3bac9;
}
#menu ul {
	padding: 10px;
	list-style-type: none;
	vertical-align: top;
}
#menu ul li {
	font-family: "Rubik Light";
}
#menu ul li:first-child {
	color: #81A1C1;
	font-family: 'Rubik';
	font-size: 18px;
}
#menu ul li a {
	color: #d8dee9;
	font-size: 13px;
	text-decoration: none;
}
#menu ul li a:hover {
	color: #EBCB8B;
}
#rss {
	font-family: "Segoe UI", "Liberation Sans", "Dejavu Sans", "Droid Sans", monospace;
	font-size: 14pt;
	/* Font menu, searchbox and rss */
	background: #434c5e;
	color: #d8dee9;
	/* Menu background & color */
}
#rss {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	min-width: 100%;
	width: auto;
	overflow: hidden;
	height: 32px;
	line-height: 32px;
	/* Rss height */
}
#rss #content {
	width: auto;
	height: auto;
	position: relative;
	top: 0;
	left: 100%;
	background: transparent;
	white-space: nowrap;
	font-family: "FuraCode Nerd Font";
}
#rss a {
	display: inline-block;
	padding: 0 15px;
	color: #d8dee9;
	cursor: pointer;
}
/* Rss padding */

#rss a:link, #rss a:visited {
	color: #d8dee9;
	text-decoration: none;
}
/* Rss link color */

#rss a:hover, #rss a:active {
	color: #eceff4;
}